body{
      margin:0;
      height:100vh;
      display:flex;
      justify-content:center;  
      align-items:center;     
      background:#f2f2f2;
      font-family: Arial, sans-serif;
    }

    .calculator{
        background-color: rgb(49, 49, 49);
        padding: 30px;
        border-radius: 20px;
    }

    .display{
      width:100%;
      height:64px;
      border-radius:12px;
      padding:10px 12px;
      font-size:26px;
      text-align:right;
      outline:none;
      color: #ffffff;
      background:#555555;
      box-sizing:border-box;
      margin-bottom: 20px;
    }

    .buttons{
      margin-top:14px;
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      gap:10px;
    }

    button{
      height:56px;
      border:none;
      border-radius:12px;
      font-size:18px;
      cursor:pointer;
      color: #ffffff;
      background:#979494;
    }

    button:active{
      transform:scale(0.98);
    }

    .op{ background:#ee931d; }
    .danger{ background:#db4c4c; }
    .equal{ background:#dd7d0f; }

    .zero{
      grid-column: span 2;
    }